OPENAI_API_KEY= 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

# Update these with your pinecone details from your dashboard. 
# PINECONE_INDEX_NAME is in the indexes tab under "index name" in blue
# PINECONE_ENVIRONMENT is in indexes tab under "Environment". Example: "us-east1-gcp"
PINECONE_API_KEY= 5f929de0-c862-42ad-b41f-73946bec3209  
PINECONE_ENVIRONMENT= gcp-starter
PINECONE_INDEX_NAME= lexai
